.example-card {
  max-width: 400px;

}

.example-header-image {
  background-image: url('https://external-preview.redd.it/qh0-Q1OB2vgq46JADzK-HqxkX83AqkSmLibbquL1qSw.png?format=pjpg&auto=webp&s=310d28149eb093366b0292e7049f69d81da8c47a');
  background-size: cover;
}
